header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3em;
  border-bottom: 2px solid var(--c-light);
  margin-bottom: 3em;
}

header > ul {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

header > ul > li > a {
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: 0 var(--gap);
}

.logo {
  margin: 0;
  padding: 0;
  height: auto;
}
